# Session 4 - Übung 1

**Aufgabe 1:** Importieren Sie pandas.

In [1]:
import pandas as pd

**Aufgabe 2:** Importieren Sie den V-DEM Datensatz in die Variable `df`.

In [2]:
df = pd.read_csv('../data/vdem/V-Dem-CY-Full+Others-v10.csv',
                low_memory=False)

**Aufgabe 3:** Erstellen Sie einen neuen DataFrame, der die Spalten 'country_name', 'country_text_id', 'e_regiongeo', 'year', 'v2x_polyarchy', 'v2x_libdem' und alle Daten zwischen 1990 und 2017 enthält. Speichern Sie die Daten in der Variable `sdf` und vergessen Sie die `.copy()` Methode nicht. Printen Sie die ersten 10 Zeilen von `sdf`.

In [3]:
sdf = df[['country_name', 'country_text_id', 'e_regiongeo', 'year', 'v2x_polyarchy', 'v2x_libdem']][(df.year >= 1990) & (df.year >= 2017)].copy()

In [4]:
sdf.head(10)

    country_name country_text_id  e_regiongeo  year  v2x_polyarchy  v2x_libdem
228       Mexico             MEX           17  2017          0.660       0.446
229       Mexico             MEX           17  2018          0.725       0.502
230       Mexico             MEX           17  2019          0.710       0.486
348     Suriname             SUR           18  2017          0.777       0.640
349     Suriname             SUR           18  2018          0.746       0.596
350     Suriname             SUR           18  2019          0.736       0.550
579       Sweden             SWE            2  2017          0.907       0.864
580       Sweden             SWE            2  2018          0.891       0.848
581       Sweden             SWE            2  2019          0.874       0.829
801  Switzerland             CHE            1  2017          0.877       0.823

**Aufgabe 4:** Filtern Sie die Zeilen 'country_name', 'country_text_id', 'e_regiongeo', 'year', 'v2x_polyarchy', 'v2x_libdem', 'v2x_partipdem', 'v2x_delibdem', 'v2x_egaldem' aus df für Deutschland zwischen 1900 und 1990 und speichern Sie die Daten in der Variable `sdf_ger`.

In [5]:
sdf_ger = (df[['country_name', 
               'country_text_id', 
               'e_regiongeo', 
               'year',
               'v2x_polyarchy',
               'v2x_libdem',
               'v2x_partipdem',
               'v2x_delibdem',
               'v2x_egaldem']][(df.country_name == 'Germany') 
                               & (df.year >= 1900) 
                               & (df.year <= 1990)].copy())

**Aufgabe 5**: Wie viele Zeilen und Spalten hat `sdf_ger`?

In [6]:
sdf_ger.shape

(87, 9)

**Aufgabe 6**: Untersuchen Sie mit der `.info()` Methode die jeweiligen Datentypen von sdf_ger.

In [7]:
sdf_ger.info()

<class 'pandas.core.frame.DataFrame'>
Index: 87 entries, 11473 to 11559
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   country_name     87 non-null     object
 1   country_text_id  87 non-null     object
 2   e_regiongeo      87 non-null     int64
 3   year             87 non-null     int64
 4   v2x_polyarchy    87 non-null     float64
 5   v2x_libdem       87 non-null     float64
 6   v2x_partipdem    87 non-null     float64
 7   v2x_delibdem     87 non-null     float64
 8   v2x_egaldem      87 non-null     float64
dtypes: float64(5), int64(2), object(2)
memory usage: 6.8+ KB

**Aufgabe 7:** Berechnen Sie Mittelwert, Standardabweichung, sowie min und max für alle Variablen in `sdf_ger`, die mit `'v2x_` beginnen.

In [8]:
sdf_ger[['v2x_polyarchy',
               'v2x_libdem',
               'v2x_partipdem',
               'v2x_delibdem',
               'v2x_egaldem']].describe()

       v2x_polyarchy  v2x_libdem  v2x_partipdem  v2x_delibdem  v2x_egaldem
count      87.000000   87.000000      87.000000     87.000000    87.000000
mean        0.574080    0.510241       0.398908      0.499966     0.492885
std         0.307104    0.307571       0.223330      0.312910     0.276945
min         0.073000    0.013000       0.037000      0.018000     0.112000
25%         0.250500    0.216500       0.170000      0.179000     0.183500
50%         0.628000    0.502000       0.428000      0.510000     0.475000
75%         0.845000    0.791000       0.596500      0.784500     0.749000
max         0.896000    0.847000       0.649000      0.860000     0.833000

**Aufgabe 8:** Schreiben Sie sdf_ger als csv Datei in den Ordner data. Verhindern Sie, dass der Index des Dataframes in die csv Datei geschrieben wird.

In [9]:
sdf_ger.to_csv('../data/sdf_ger.csv', index=False)